<%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class= "container" >
    <div class= "child">
            <p><%= @rand_quote %></p>
            <p><%= @rand_author %></p>
        </div>
    </div>
</div>
